@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Jost', sans-serif;
}

.hero{
  background-image:url(../../public/Group\ 1000001887.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero{
    background-image:url(../../public/Group\ 1000001887.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
}



.btn{
  background-image: url(../../public/Group\ 1000001610.png);
}


.gradient-text {
  background: linear-gradient(45deg, #00B3FC, #ffefa5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}