@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */


*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.hero{
  background-image:url(../../public/Group\ 1000001887.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero{
    background-image:url(../../public/Group\ 1000001887.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
}



.btn{
  background-image: url(../../public/Group\ 1000001610.png);
}


